.conteudo-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    .conteudo-name{
        margin-top: 20px;
        font-size: 30px;
        font-weight: 30px;
    }

    .conteudo-options{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    
        .option-icon{
            font-size: 32px;
        }
    }
}

.conteudo-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 40px;
}